@import 'bootstrap';
@import 'famfamfam-flags/dist/sprite/famfamfam-flags.min.css';

body {
    font-family: Cantarell, sans-serif;
}

.famfamfam-flags {
    display: inline-block;
}

h3 {
    margin-bottom: 32px;
}

.players {
    text-align: center;
}

.actions {
    text-align: end;
}

td, th {
    vertical-align: middle !important;
}
